ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: #c0bdbd;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
  li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  li a.active {
    background-color: #971B2F;
    color: white;
  }
  
  li a:hover:not(.active) {
    background-color: #555;
    color: white;
  }

#first {
    margin-left: 25%;
  
    float: left;
    height: 350px;
    
}
#second {
  
    float: left;
    height: 350px;
}
#third{
  
  height: 350px;
  float: left;
}
#about{
  margin-left:23.5%;
  
}
#aboutus{
  margin-left:23.5%;
  padding-top: 4in;
}